<div class="servo-test-modal">
    <div class="modal-body">
        <div class="label">Servo {{servoId}} Test</div>
        <div class="spacer"></div>
        <div class="label">{{slider.value}}</div>
        <mat-slider 
            min="500" 
            max="2500" 
            default="1500"
            step="1"
            [disabled]="disableSlider"   
        >
            <input matSliderThumb (input)="onSliderChange($event)" [(ngModel)]="value" #slider>
        </mat-slider>
    </div>
    <div class="modal-buttons">
        <div class="button-spacer"></div>        
        <div class="button-grouper">
            <button (click)="enableTest();">Enable Test</button>
        </div>
        <div class="button-grouper">
            <button (click)="closeModal();">Close</button>
        </div>
        <div class="button-spacer"></div>
    </div>
</div>
