<div class="script-container">
    <div class="spacer"></div>
    <div class="script-body">
        <div class="button-bar">
            <div class="title">
                Scripts
            </div>
            <div class="spacer"></div>
            <div class="button-box">
                <button (click)="newScript()" class="new-script">New</button>
            </div>
        </div>
        <div class="script-list-container">
            <ul class="script-list">
                <li *ngFor="let script of scripts">
                    <div class="script-line">
                        <div class="click-bar" routerLink="/scripter/{{script.id}}">
                            <div class="name-section">{{script.scriptName}}</div>
                            <div class="desc-section">{{script.description}}</div>
                        </div>
                        <div [ngClass]="uploadStatus(script.domeUploadStatus)"
                            class="upload-section tooltip">Dome <span class="tooltiptext">{{script.domeUploaded |
                                date:'short'}}</span></div>
                        <div [ngClass]="uploadStatus(script.coreUploadStatus)"
                            class="upload-section tooltip">Core <span class="tooltiptext">{{script.coreUploaded |
                                date:'short'}}</span></div>
                        <div [ngClass]="uploadStatus(script.bodyUploadStatus)"
                            class="upload-section tooltip">Body <span class="tooltiptext">{{script.bodyUploaded |
                                date:'short'}}</span></div>
                        <div class="button-container">
                            <div class="trash">
                                <button title="Delete" (click)="removeClicked(script.id)"><fa-icon [icon]="faTrash"></fa-icon></button>
                            </div>
                            <div class="upload">
                                <button title="Upload" (click)="uploadClicked(script.id)"><fa-icon [icon]="faUpload"></fa-icon></button>
                            </div>
                            <div class="run">
                                <button title="Run" (click)="runClicked(script.id)"><fa-icon [icon]="faRun"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="spacer"></div>
</div>