@use "../../../assets/styles/variables" as v;

.script-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .spacer {
        flex-grow: 1;
    }

    .script-body {

        padding: 20px;
        max-width: 1000px;
        flex-grow: 20;

        .button-bar {
            display: flex;
            flex-direction: row;
            height: 54px;
            line-height: 54px;

            .title {
                width: 200px;
                font-size: xx-large;
                font-family: v.$swfont;
            }


            .button-box {
                float: right;

                button {
                    font-size: x-large;
                    font-family: v.$swfont;
                    background-color: v.$dark-blue;
                }
            }
        }
    }
}

.script-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .script-line {
        display: flex;
        height: 40px;
        line-height: 40px;
        flex-direction: row;
        border-bottom: solid 2px black;
    }

    .click-bar {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .name-section {
        font-size: large;
        flex-basis: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .desc-section {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .upload-section {
        text-align: center;
        width: 60px;
        height: 24px;
        line-height: 24px;
        border: solid 1px black;
        margin: 4px;
    }

    .uploaded {
        background-color: green;
        color: white;
    }

    .uploading {
        background-color: goldenrod;
        color: black;
    }

    .notuploaded {
        background-color: maroon;
        color: white;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        margin-left: 12px;
        
        button {
            font-size: large;
            padding: 0;
            margin: 0px 12px 0px 4px;
            border: none;
            background-color: transparent;
            color: black;
            cursor: pointer;
        }
    }

}




.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}