.script-row-container{
    display: flex;
    flex-direction: row;
}

.module-container {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    background-color: darkslategray;
    color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 100px;
    width: 200px;
    text-align: center;


    .title {
        font-size: x-large;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 4px 8px;
        padding: 0px 0px 4px 0px;
    }

    .spacer{
        flex-grow: 1;
    }

    .button-bar{
        text-align: right;
        padding: 0px 0px 4px 0px;
        button {
            font-size: large;
            padding: 0;
            margin: 0px 12px 0px 0px;
            border: none;
            background-color: transparent;
            color: white;
            cursor: pointer;
        }
    }
}





.timeline-container{
    display: flex;
    flex-direction: row;
}

.timeline-segment {
    background-color: teal;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 100px;    
    width: 58px;
}

.timeline-spacer{
    background-color: teal;
    height: 100px;
    width: 29px;
}