<div class="script-row-container">
    <div class="module-container">
        <div class="title" *ngIf="channel.channel">{{channel.channel.name}}</div>
        <div class="title" *ngIf="!channel.channel">{{channel.controllerName}}</div>
        
        <div *ngIf="channel.channel">{{channel.controllerName}}</div>
        <div  *ngIf="channel.type === 1">UART</div>
        <div  *ngIf="channel.type === 2"><span>PWM Channel: </span>{{channel.channel?.id}} </div>
        <div  *ngIf="channel.type === 3"><span>I2C Channel: </span>{{channel.channel?.id}} </div>
        <div class="spacer"></div>
        <div class="button-bar">
            <button title="Remove" (click)="remove()"><fa-icon [icon]="faTrash"></fa-icon></button>
        </div>
    </div> 
    <div id="script-row-{{channel.id}}" class="timeline-container" (contextmenu)="onTimelineRightClick($event)" #timeline>
        
    </div>
<div>
