<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="header-name">
                <input 
                    matInput 
                    placeholder="Name" 
                    [(ngModel)]="module.name"
                    (keydown.space)="$event.stopImmediatePropagation()"  
                    (click)="nameClicked($event)" 
                />
            </div>
        </mat-panel-title>
        <mat-panel-description>
            <div class="header-box">
                <div class="header-spacer"></div>
                <div>
                    <p  id="subtype-name">{{ subtypeName }}</p>
                </div>
                <div class="header-button">
                    <button
                        (keydown.enter)="$event.preventDefault();removeModule($event);"
                        (keydown.space)="$event.preventDefault();removeModule($event);"  
                        (click)="removeModule($event)">
                        <fa-icon [icon]="removeIcon"/>
                    </button>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template #uartContainer></ng-template>
</mat-expansion-panel>