@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@use "./src/assets/styles/variables" as v;
@use "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

@font-face {
    src: url('./assets/fonts/DISTGRG_-webfont.woff') format('woff');
    font-family: 'distant_galaxyregular';
    font-weight: normal;
    font-style: normal;
}



:root {
    font-size: 62.5%;

    @include mat.slider-overrides((
        handle-color: v.$dark-blue,
        focus-handle-color: v.$dark-blue,
        hover-handle-color: v.$dark-blue-tint,
        active-track-color: v.$dark-blue,
        inactive-track-color: v.$dark-blue,
        with-overlap-handle-outline-color: v.$dark-blue,
        ripple-color: v.$dark-blue,
        hover-state-layer-color: v.$dark-blue-tint,
        focus-state-layer-color: v.$dark-blue-tint,
        disabled-active-track-color: v.$light-blue,
        disabled-handle-color: v.$light-blue,
        disabled-inactive-track-color: v.$light-blue
      ));
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;

    background-color: v.$color-pale;

    button {
        font-size: x-large;
        padding: 10px 20px;
        background: v.$color-dark;
        color: v.$color-pale;
        
    }
}

.page{
    padding: 2rem;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
