**/.git
**/node_modules
.editorconfig
.vscode/*

astros_client/.angular
astros_client/.angular/**/*

astros_client/dist
astros_client/dist/**/*

astros_api/dist
astros_api/dist/**/*

astros_common/dist/
astros_common/dist/**/*

.gitignore

*.md

package-lock.json
.env