services:
  astros:
    hostname: astros
    platform: linux/arm64
    build:
      context: .
      dockerfile: ./Dockerfile
      tags:
        - dirtknap/astros-server:1.3.4
        - dirtknap/astros-server:latest
    ports:
      - 8080:80
      - 3000:3000
      - 5000:5000
    volumes:
      - C:/Test:/root/.config/astrosserver
    networks:
      - astronet

networks:
  astronet:
    external: true
