.kangaroo{
    margin-top: 20px;
.kangaroo-label{
            display: inline !important; 
            font-size: large;
            margin-right: 20px;
        }
.kangaroo-input {
            display: inline !important; 
            padding: 2px;
            font-size: large;
            width: 400px;
        }
}