
@use "../../../../../assets/styles/variables";

.servo-test-modal {



  width: 300px;

  .modal-body {
    display: flex;
    flex-direction: column;

    font-size: large;

    .spacer {
      height: 20px;
      flex-grow: 1;
    }

    .content {
      width: 300px;
      display: inline;
    }

    .label {
      text-align: center;
    }

    label {
      display: block;
      width: 300px;
      margin-bottom: 2px;
    }
  }

  .modal-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .button-spacer {
    flex-grow: 1;
  }

  .button-grouper {
    button {
      width: 100px;
      font-size: large;
      padding: 5px 0px;
      margin: 0px 5px;
    }

    .hidden {
      display: none;
    }
  }
}