@import 'tailwindcss';
@plugin "daisyui" {
  themes: winter;
}

@font-face {
  font-family: 'distant_galaxyregular';
  src: url('./fonts/DISTGRG_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-starwars: 'distant_galaxyregular', sans-serif;
}

.font-starwars {
  font-family: var(--font-family-starwars);
}
