@import 'tailwindcss';
@plugin "daisyui" {
  themes: winter;
}

@font-face {
  font-family: 'distant_galaxyregular';
  src: url('./fonts/DISTGRG_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-starwars: 'distant_galaxyregular', sans-serif;
}

.font-starwars {
  font-family: var(--font-family-starwars);
}

.btn-primary {
  background-color: #0033a0 !important;
  color: white !important;
  border-color: #0033a0 !important;
}

.btn-primary:hover {
  background-color: #0033a0 !important;
  border-color: #0033a0 !important;
}

.bg-primary {
  background-color: #0033a0 !important;
}

.bg-r2-light {
  background-color: #87adff !important;
}
