<div *ngIf="auth.isLoggedIn()" (click)="closeMenu()" id="mySidenav" class="sidenav" #sideNav>
  <a (click)="closeMenu()" routerLink="/status">Status</a>
  <a (click)="closeMenu()" routerLink="/scripter">Scripter</a>
  <a (click)="closeMenu()" routerLink="/modules">Modules</a>
  <a (click)="closeMenu()" routerLink="/settings">Settings</a>
  <a *ngIf="auth.isLoggedIn()" href="javascript: void(0);" (click)="logout()">Logout</a>
</div>

<div class="container">
  <div class="navbar-main">
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li><a (click)="showMenu()">>Astr-Os</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>