<div (click)="closeMenu()" id="mySidenav" class="sidenav" #sideNav>
  <a (click)="closeMenu()" routerLink="/status">Status</a>
  <a (click)="closeMenu()" routerLink="/scripts">Scripts</a>
  <a (click)="closeMenu()" routerLink="/modules">Modules</a>
  <a (click)="closeMenu()" routerLink="/audio-files">Audio Files</a>
  <a (click)="closeMenu()" routerLink="/settings">Settings</a>
  <a *ngIf="auth.isLoggedIn()" href="javascript: void(0);" (click)="logout()">Logout</a>
</div>

<div class="container">
  <div class="navbar-main">

<div class="navbutton" (click)="showMenu()"></div>
<div><span class="capital">A</span>str<span  class="capital">O</span>s</div>
  </div>
</div>

<router-outlet></router-outlet>