services:
  astros:
    platform: linux/arm64
    image: 'dirtknap/astros-server:latest'
    restart: unless-stopped
    ports:
      - 80:80
      - 5000:5000
      - 3000:3000
    volumes:
      - /home/astros/.config/astrosserver:/root/.config/astrosserver
    environment:
      - CORS_ORIGIN=http://<ip_address>:5173
    networks:
      - astronet
    devices:
      - '/dev/ttyAMA0:/dev/ttyS0'

networks:
  astronet:
    external: true
