@use '@angular/material' as mat;

.gpio-channel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mat.checkbox-overrides((label-text-color: white,
        ));

    .gpio-channel-row {

        flex-grow: 1;
        width: 350px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .label {
            padding-top: 8px;
            color: white;
            font-size: large;
            width: 110px;
        }

        .name {
            flex-grow: 1;
            margin: 0px;
            margin-right: 10px;
            padding-top: 5px;

            input {
                padding: 2px;
                font-size: medium;
                width: 100%;
            }
        }


        .enabled {
            width: 120px;
            text-align: center;
            margin: 0px;
        }

        .default-low {
            width: 150px;
            text-align: center;
            margin: 0px;
            margin-right: 10px;

        }
    }
}