<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Dome Core Module</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Serial Port configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>I2C configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>PWM configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Dome Surface Module</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Serial Port configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>I2C configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>PWM configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Body Module</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Serial Port configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>I2C configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>PWM configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Dirve Configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Serial Port configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>I2C configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>PWM configuration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>subpanel.content</p>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </mat-expansion-panel>
</mat-accordion>