@import '../../../assets/styles/variables';

.container {

  max-height: 80%;
  margin: 0 auto;
  padding: 50px;
  background-color: $color-medium;
}

.scripter-container {
  background-color: black;
  display: flex;

  border: 2px solid black;
  border-radius: 10px;
  overflow-y: scroll;
}


.scripter-body {
display: flex;
flex-direction: column;
}

.scripter-header {
  display: flex;
  flex-direction: row;
}

.scripter-modules {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 17px;
}

.scripter-module-header {

  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  background-color: burlywood;
  color: white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 24px;
  width: 200px;
  text-align: center;
}

.timeline-spacer {
  width: 29px;
  background-color: burlywood;
  border-bottom: 2px solid black;
}

.timeline-header {
  width: 60px;
  border-bottom: 2px solid black;
}

.timeline-gradient {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select:none;
  text-align: center;

  background-color: burlywood;
  background-image:
    linear-gradient(90deg,
      rgba(73, 73, 73, 0.5) 0,
      rgba(73, 73, 73, 0.5) 2px,
      transparent 2%),
    linear-gradient(90deg,
      transparent 50%,
      rgba(73, 73, 73, 0.5) 0,
      rgba(73, 73, 73, 0.5) 2px,
      transparent 54%);

  background-size: 100% 10px;
  background-position: 0px 100%;
  background-repeat: no-repeat;
}

.scripter-timeline-header-period-spacer {
  border-bottom: 2px solid black;
  color: transparent;
  text-align: center;
  width: 21px;
  height: 24px;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scripter-timeline-header-period {
  color: black;
  border-bottom: 2px solid black;
  text-align: center;
  width: 41px;
  height: 24px;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scripter-timeline-row {
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0;
  height: 80px;
}

.scripter-timeline-period {
  background-color: cadetblue;
  color: black;
  border-right: 1px solid darkslategray;
  text-align: center;
  width: 40px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}



.scripter-module {
  background-color: darkcyan;
  color: white;
  border-bottom: 1px solid black;
  border-right: 2px solid black;
  height: 80px;
  border-radius: 10px;
  text-align: center;
}

.scripter-timeline-marker {
  position: absolute;
  height: 80px;
  top: 0px;
  z-index: 100;
  background-color: yellow;
  border-radius: 20px;
  cursor: pointer;
}