@import '../../../assets/styles/variables';

.container {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    margin: 0 auto;
    padding: 50px;
    background-color: $color-medium;
}

.scripter-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.scripter-modules{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 17px;
}

.scripter-timeline{
    width: 90%;
   

}


.scripter-timeline-header-row{
    white-space: nowrap;
    background-color: burlywood;
    background-image: 
    linear-gradient(90deg, 
      rgba(73, 73, 73, 0.5) 0, 
      rgba(73, 73, 73, 0.5) 2%, 
      transparent 2%
    ), 
    linear-gradient(180deg, 
    burlywood 50%, 
      transparent 50%
    ), 
    linear-gradient(90deg, 
      transparent 50%, 
      rgba(73, 73, 73, 0.5) 50%, 
      rgba(73, 73, 73, 0.5) 52%, 
      transparent 52%
    ), 
    linear-gradient(180deg, 
    burlywood 70%, 
      transparent 70%
    ), 
    linear-gradient(90deg, 
      transparent 10%,
      rgba(73, 73, 73, 0.4) 10%, 
      rgba(73, 73, 73, 0.4) 12%, 
      transparent 12%, 
      
      transparent 20%,
      rgba(73, 73, 73, 0.4) 20%, 
      rgba(73, 73, 73, 0.4) 22%, 
      transparent 22%, 
      
      transparent 30%, 
      rgba(73, 73, 73, 0.4) 30%,
      rgba(73, 73, 73, 0.4) 32%, 
      transparent 32%, 
      
      transparent 40%, 
      rgba(73, 73, 73, 0.4) 40%, 
      rgba(73, 73, 73, 0.4) 42%, 
      transparent 42%, 
      
      transparent 60%, 
      rgba(73, 73, 73, 0.4) 60%, 
      rgba(73, 73, 73, 0.4) 62%, 
      transparent 62%, 
      
      transparent 70%, 
      rgba(73, 73, 73, 0.4) 70%, 
      rgba(73, 73, 73, 0.4) 72%, 
      transparent 72%, 
      
      transparent 80%, 
      rgba(73, 73, 73, 0.4) 80%, 
      rgba(73, 73, 73, 0.4) 82%, 
      transparent 82%, 
      
      transparent 90%, 
      rgba(73, 73, 73, 0.4) 90%, 
      rgba(73, 73, 73, 0.4) 92%, 
      transparent 92%
    );
  background-size: 41px 24px;
  background-repeat: repeat-x;
}

.scripter-timeline-header-period-spacer {
    border-bottom: 2px solid black;
    color: transparent;
    text-align: center;
    width: 21px;
    height: 24px;
    display: inline-block;
    user-select: none;
}

.scripter-timeline-header-period {
    color: black;
    border-bottom: 2px solid black;
    text-align: center;
    width: 41px;
    height: 24px;
    display: inline-block;
    user-select: none;
}

.scripter-timeline-row{
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    height: 80px;
}

.scripter-timeline-period {
    background-color: cadetblue;
    color: black;
    border-right: 1px solid darkslategray;
    text-align: center;
    width: 40px;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.scripter-module-header-row {
    background-color: burlywood;
    color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 24px;
    text-align: center;
}

.scripter-module {
    background-color: darkcyan;
    color: white;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    height: 80px;
    border-radius: 10px;
    text-align: center;
}

.scripter-timeline-marker{
    position: absolute;
    height: 80px;
    top: 0px;
    z-index: 100;
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
}

