<div class="container">
    <div id="scripter-container" class="scripter-container">
        <div class="scripter-header">
            <div class="scripter-module-header" #scripterModules></div>
            <div class=" timeline-spacer"></div>
            <div *ngFor="let item of timeLineArray;" class="timeline-gradient timeline-header">{{item}}</div>
            <!-- an hidden div is created to set the position of appearance of the menu-->
        </div>
        <div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeft.x" [style.top.px]="menuTopLeft.y" [matMenuTriggerFor]="rightMenu"></div>


        <!-- standard material menu -->
        <mat-menu #rightMenu="matMenu">
            <ng-template matMenuContent let-item="item">
                <button (click)="onAddEvent(item)" mat-menu-item>Add Event</button>
            </ng-template>
        </mat-menu>
    </div>


</div>