<div class="container">
    <div class="scripter-container">
        <div class="scripter-body">
            <div class="scripter-header">
                <div class="scripter-module-header"></div>
                <div class=" timeline-spacer"></div>
                <div *ngFor="let item of timeLineArray;" class="timeline-gradient timeline-header">{{item}}</div>
            </div>
            <app-script-row *ngFor="let channel of scriptChannels" id="timeline-{{channel.id}}" (contextmenu)="onTimelineRightClick($event, channel.id)" [channel]="channel"></app-script-row>
        </div>



        <!-- an hidden div is created to set the position of appearance of the menu-->
        <div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeft.x" [style.top.px]="menuTopLeft.y"
            [matMenuTriggerFor]="rightMenu"></div>



        <!-- standard material menu -->
        <mat-menu #rightMenu="matMenu">
            <ng-template matMenuContent let-item="item">
                <button (click)="onAddEvent(item)" mat-menu-item>Add Event</button>
            </ng-template>
        </mat-menu>
    </div>
</div>