<div class="container">
    <div id="scripter-container" class="scripter-container">
        <div class="scripter-modules" #scripterModules></div>
        <div class="scripter-timeline" #scripterTimeline></div>
            <!-- an hidden div is created to set the position of appearance of the menu-->
    <div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeft.x" [style.top.px]="menuTopLeft.y"
    [matMenuTriggerFor]="rightMenu"></div>


<!-- standar material menu -->
<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button (click)="onAddEvent(item)" mat-menu-item>Add Event</button>
    </ng-template>
</mat-menu>
    </div>


</div>