@import '../../../assets/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  height: 84%;
  margin: 0 auto;
  padding: 20px;

}

.script-title {
  display: flex;
  flex-direction: row;
  margin: 8px;
  input {
    font-size: 20px;
    height: 30px;
    width: 100%;
  }

  .button-box {
    float: right;

    button{
        font-size: x-large;
        font-family: $swfont;
        background-color: $dark-blue;
    }
  }


  .script-name{
    width: 240px;
  }

  .script-description{
    flex-grow: 1;
  }

}
.scripter-container {
  background-color: $color-dark;
  flex-grow: 1;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: scroll;
}


.scripter-body {
display: flex;
flex-direction: column;
}

.scripter-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  z-index: 500;
}

.scripter-modules {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 17px;
}

.scripter-module-header {
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  background-color: $color-medium;
  font-family: $swfont;
  font-size: x-large;
  color: white;
  text-shadow:
  -2px -2px 0 $dark-blue,
  2px -2px 0 $dark-blue,
  -2px 2px 0 $dark-blue,
  2px 2px 0 $dark-blue;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 40px;
  line-height: 40px;
  width: 200px;
  text-align: center;
}

.timeline-spacer {
  width: 29px;
  background-color: $color-pale;
  border-bottom: 2px solid black;
}

.timeline-header {
  width: 60px;
  border-bottom: 2px solid black;
}

.timeline-gradient {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select:none;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: $color-pale;
  font-weight: 500;  
  color: black;
  
  background-image:
    linear-gradient(90deg,
      rgba(73, 73, 73, 0.5) 0,
      rgba(73, 73, 73, 0.5) 2px,
      transparent 2%),
    linear-gradient(90deg,
      transparent 50%,
      rgba(73, 73, 73, 0.5) 0,
      rgba(73, 73, 73, 0.5) 2px,
      transparent 54%);

  background-size: 100% 10px;
  background-position: 0px 100%;
  background-repeat: no-repeat;
}





.scripter-timeline-marker {
  text-align: center;
  color: white;
  position: absolute;
  height: 74px;
  width: 74px;
  vertical-align: middle;
  line-height: 18px;
  margin-top: 15px;
  padding-top: 2px;
  top: 0px;
  z-index: 100;
  background-color: $light-blue;
  border: 2px solid black;
  border-radius: 15%;
  cursor: pointer;
}


