<div class="container">
    <div class="script-title">
        <div class="script-name">
            <input matInput placeholder="Name" [ngModel]="script?.scriptName" (ngModelChange)="script.scriptName=$event" />
        </div>
        <div class="script-description">
            <input matInput placeholder="Description" [ngModel]="script?.description" (ngModelChange)="script.description=$event" />
        </div>
        <div class="button-box">
            <button (click)="saveScript()">Save</button>
            <button (click)="saveBeforeTest()">Test</button>
        </div>
    </div>
    <div id="scripter-container" class="scripter-container">
        <div  class="scripter-body">
            <div class="scripter-header">
                <div class="scripter-module-header" (click)="openChannelAddModal()">Add Channel</div>
                <div class=" timeline-spacer"></div>
                <div *ngFor="let item of timeLineArray;" class="timeline-gradient timeline-header">{{item.toFixed(1)}}</div>
            </div>
            <app-script-row *ngFor="let ch of scriptChannels" id="timeline-{{ch.id}}"
                (timelineCallback)="timelineCallback($event)"
                (removeCallback)="removeCallback($event)"
                (channelTestCallback)="channelTestCallback($event)"
                [channel]="ch"></app-script-row>
        </div>



        <!-- an hidden div is created to set the position of appearance of the menu-->
        <div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeft.x" [style.top.px]="menuTopLeft.y"
            [matMenuTriggerFor]="rightMenu"></div>



        <!-- standard material menu -->
        <mat-menu #rightMenu="matMenu">
            <ng-template matMenuContent let-item="item">
                <button (click)="openNewEventModal(item)" mat-menu-item>Add Event</button>
            </ng-template>
        </mat-menu>
    </div>
</div>

<app-astros-modal id="scripter-modal"  disableBackgroundClick="{{backgroundClickDisabled}}" style="display: none;">
    <ng-template #modalContainer></ng-template>
</app-astros-modal>