@import "../../../assets/styles/variables";



.module-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

     
    .spacer {
        flex: 1;
    }

    .module-body {
        padding: 20px;
        max-width: 1000px;
        flex-grow: 20;

        .button-bar {
            display: flex;
            flex-direction: row;
            height: 54px;
            line-height: 54px;

            .title {
                width: 200px;
                font-size: xx-large;
                font-family: $swfont;
            }

            .button-box {
                float: right;

                button {
                    font-size: x-large;
                    font-family: $swfont;
                    background-color: $dark-blue;
                }
            }
        }

        .module-accordian {
            .controller-select {
                select {
                    padding-top: 4px;
                    width: 100%;
                    max-width: 300px;
                    font-size: large;
                    display: block;
                }
            }

            .warning {
                margin-right: 20px;
                color: slategray;
            }
        }

    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted lightgray;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 200%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

