<div class="module-container">
    <div class="spacer"></div>
    <div class="module-body">
        <div class="button-bar">
            <div class="title">
               Modules
            </div>
            <div class="spacer"></div>
            <div class="button-box">
                <button (click)="saveModuleSettings()">Save</button>
            </div>
        </div>
        <mat-accordion class="module-accordian">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Dome Core Module</mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-esp-module [module]="coreModule"></app-esp-module>
                </ng-container>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Dome Surface Module</mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-esp-module [module]="domeModule"></app-esp-module>
                </ng-container>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Body Module</mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container>
                    <app-esp-module [module]="bodyModule"></app-esp-module>
                </ng-container>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Dirve Configuration</mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="spacer"></div>
</div>