<div class="module-container">
  <div class="spacer"></div>
  <div class="module-body">
    <div class="button-bar">
      <div class="title">
        Modules
      </div>
      <div class="spacer"></div>
      <div class="button-box">
        <button data-testid="save_module_settings" (click)="saveModuleSettings()">Save</button>
      </div>
      <div class="button-box">
        <button (click)="syncModuleSettings()">Sync</button>
      </div>
    </div>
    <mat-accordion class="module-accordian">
      <mat-expansion-panel>
        <mat-expansion-panel-header data-testid="body-module-header">
          <mat-panel-title>Body Module</mat-panel-title>
          <div class="warning tooltip" #body>
            <span class="tooltiptext">{{bodyCaption.str}}</span>
            <fa-icon [icon]="bodyWarning"></fa-icon>
          </div>
        </mat-expansion-panel-header>
        @if (isLoaded) {
          <div class="controller-select">
            <select title="Controller Select" disabled>
              <option value="0" selected>Master Controller</option>
            </select>
          </div>
          <app-esp-module
            (addModuleEvent)="addModule($event)"
            (removeModuleEvent)="removeModule($event)"
            (openServoTestModal)="openServoTestModal($event)"
            [location]="bodyLocation"
            [isMaster]="true"
            [parentTestId]="bodyTestId" />
          }
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header data-testid="core-module-header">
            <mat-panel-title>Core Module</mat-panel-title>
            <div class="warning tooltip" #core>
              <span class="tooltiptext">{{coreCaption.str}}</span>
              <fa-icon [icon]="coreWarning"></fa-icon>
            </div>
          </mat-expansion-panel-header>
          @if (isLoaded) {
            <div class="controller-select">
              <select id="core-controller-select" title="Controller Select"
                [(ngModel)]="coreLocation.controller.id" (change)="controllerSelectChanged('core')">
                <option [value]="0" selected>Disabled</option>
                @for (controller of availableCoreControllers; track controller) {
                  <option [value]="controller.id">{{controller.name}}</option>
                }
              </select>
            </div>
            <app-esp-module
              (addModuleEvent)="addModule($event)"
              (removeModuleEvent)="removeModule($event)"
              (openServoTestModal)="openServoTestModal($event)"
              [location]="coreLocation"
              [parentTestId]="coreTestId"/>
            }
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header data-testid="dome-module-header">
              <mat-panel-title>Dome Module</mat-panel-title>
              <div class="warning tooltip" #dome>
                <span class="tooltiptext">{{domeCaption.str}}</span>
                <fa-icon [icon]="domeWarning"></fa-icon>
              </div>
            </mat-expansion-panel-header>
            @if (isLoaded) {
              <div class="controller-select">
                <select id="dome-controller-select" title="Controller Select"
                  [(ngModel)]="domeLocation.controller.id" (change)="controllerSelectChanged('dome')">
                  <option [value]="0" selected>Disabled</option>
                  @for (controller of availableDomeControllers; track controller) {
                    <option [value]="controller.id">{{controller.name}}</option>
                  }
                </select>
              </div>
              <app-esp-module
                (addModuleEvent)="addModule($event)"
                (removeModuleEvent)="removeModule($event)"
                (openServoTestModal)="openServoTestModal($event)"
                [location]="domeLocation"
                [parentTestId]="domeTestId"/>
              }
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="spacer"></div>
      </div>

      <app-astros-modal id="modules-modal" disableBackgroundClick="{{backgroundClickDisabled}}">
        <ng-template #modalContainer></ng-template>
      </app-astros-modal>