$dark-blue: #00236D;
$dark-blue-tint: #00236D44;
$light-blue: #5458B1;
$color-pale: #E5E5EC;
$color-medium: #938288;
$color-dark: #767682;

$color-list-med-grey: #52525a;
$color-list-light-grey: #5e5e67;

$swfont: 'distant_galaxyregular';