<div class="img-container">

    <img class="bottom" src="../../../assets/img/r2.png" alt="Astromech">
    <img class="top blink" style="visibility: hidden;" src="../../../assets/img/core.png" alt="Astromech Core Down" #coreDown>
    <img class="middle blink" style="visibility: hidden;" src="../../../assets/img/core_yellow.png" alt="Astromech Core Not Synced" #coreNotSynced>
    <img class="top blink" style="visibility: hidden;" src="../../../assets/img/dome.png" alt="Astromech Dome Down" #domeDown>
    <img class="middle blink" style="visibility: hidden;" src="../../../assets/img/dome_yellow.png" alt="Astromech Dome Not Synced" #domeNotSynced>
    <img class="top blink" style="visibility: hidden;" src="../../../assets/img/body.png" alt="Astromech Body Down" #bodyDown>
    <img class="middle blink" style="visibility: hidden;" src="../../../assets/img/body_yellow.png" alt="Astromech Body Not Synced" #bodyNotSynced>
    <img class="top blink" style="visibility: hidden;" src="../../../assets/img/legs.png" alt="Astromech Leg" #legs>

</div>