<div class="container">
    <div class="page-select">
        <div class="spacer"></div>
        <div class="page-back">
            <button title="Backward" (click)="pageBackward()"><fa-icon [icon]="faBackward"></fa-icon></button>
        </div>
        <div class="page-number">Page {{pageNumber}}</div>
        <div class="page-forward">
            <button title="Forward" (click)="pageForward()"><fa-icon [icon]="faForward"></fa-icon></button>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="page">
        <div class="col1-row1 button-select">
            <select id="btn1-select" title="Script" [(ngModel)]="currentPage.button1.id">
                <option value="0" selected>None</option>
                <ng-container *ngFor="let script of scripts">
                    <option value="{{script.id}}">{{script.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="col2-row1 button-select">             
            <select id="btn2-select" title="Script" [(ngModel)]="currentPage.button2.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col3-row1 button-select">            
            <select id="btn3-select" title="Script" [(ngModel)]="currentPage.button3.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col4-row1 button-select">            
            <select id="btn4-select" title="Script" [(ngModel)]="currentPage.button4.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col1-row2 button-select">             
            <select id="btn5-select" title="Script" [(ngModel)]="currentPage.button5.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col2-row2 button-select">             
            <select id="btn6-select" title="Script" [(ngModel)]="currentPage.button6.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col3-row2 button-select">             
            <select id="btn7-select" title="Script" [(ngModel)]="currentPage.button7.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col4-row2 button-select">             
            <select id="btn8-select" title="Script" [(ngModel)]="currentPage.button8.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col1-row3 button-select">             
            <select id="btn9-select" title="Script" [(ngModel)]="currentPage.button9.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col2-row3 button-select">             
            <select id="btn10-select" title="Script" [(ngModel)]="currentPage.button10.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
        <div class="col3-row3 button-select">             
            <select id="btn11-select" title="Script" [(ngModel)]="currentPage.button11.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
            </select>
        </div>
        <div class="col4-row3 button-select">             
            <select id="btn12-select" title="Script" [(ngModel)]="currentPage.button12.id">
            <option value="0" selected>None</option>
            <ng-container *ngFor="let script of scripts">
                <option value="{{script.id}}">{{script.name}}</option>
            </ng-container>
        </select>
        </div>
    </div>
</div>