.kangaroo-input{
    
    display: inline !important;
    width: 200px !important;
}

.kangaroo-speed-label {

    margin-right: 42px;
    display: inline !important; 
}

.kangaroo-position-label {

    margin-right: 25px;
    display: inline !important; 
}