.header-name {
    input {
        font-size: medium;
        padding: 5px 10px;
    }
}

.header-box {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    margin-right: 30px;

    .header-spacer {
        flex-grow: 1;
    }

    .subtype-name {
        font-size: medium;
        margin-right: 10px;
        color: darkgray;
    }
 
    .header-button {
        margin: 10px;
        button {
            height: 30px;
            font-size: small;
            padding: 5px 10px;
        }
    }
}