@import "./src/assets/styles/variables";

.uart-module {
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .type{
        width: 200px;
        margin-right: 20px;
        select {
            padding-top: 4px;
            width: 100%;
            max-width: 300px;
            font-size: large;
            display: block;
        }
    }

    .input {
        flex-grow: 1;
        margin: 0px;
        max-width: 400px;

        input {
            padding: 2px;
            font-size: large;
            width: 100%;
        }
    }
    
}

.servo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;

    li {
        border: 2px solid $color-dark;
        padding: 10px;
    }

    .servo-channel {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .label {
            font-size: large;
            width: 120px;
        }

        .input {
            flex-grow: 1;
            margin: 0px;
            max-width: 400px;
            margin-right: 20px;

            input {
                padding: 2px;
                font-size: large;
                width: 100%;

            }
        }

        .type {
            width: 120px;
            text-align: center;
            margin: 0px;
            margin-right: 20px;

            select {
                padding-top: 4px;
                width: 100%;
                max-width: 130px;
                font-size: large;
                display: block;

            }
        }

        .limit {
            margin-right: 20px;
            input {
                text-align: center;
                width: 50px;
                padding: 2px;
                font-size: large;
            }
        }
    }
}

.i2c-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;

    li {
        border: 2px solid $color-dark;
        padding: 10px;
    }

    .i2c-channel {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .label {
            font-size: large;
            width: 120px;
        }

        .input {
            flex-grow: 1;
            max-width: 400px;

            input {
                font-size: large;
                width: 100%;
            }
        }

        .enabled {
            width: 120px;
            text-align: center;
            margin: 0px;
            margin-right: 20px;

        }

    }
}