<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Serial Port 1 configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="isMaster" class="uart-module">
            <div class="type">
                <select title="Serial Type" disabled>
                    <option value="0" selected>Reserved</option>
                </select>
            </div>
            <div class="input"><input matInput placeholder="AstrOs Interface" disabled /></div>
        </div>

        <div *ngIf="!isMaster" class="uart-module">
            <div class="type">
                <select title="Serial Type" (ngModelChange)="uartTypeChange($event, 1)" [(ngModel)]=uart1Type>
                    <option value="0" selected>Disabled</option>
                    <option value="1">Generic Serial</option>
                    <option value="2">Kangaroo X2</option>
                    <option value="3">Human Cyborg Relations</option>
                </select>
            </div>
            <div class="input"><input matInput placeholder="Name" /></div>
        </div>
        <ng-template #uart1Container></ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="uartPanelOpenState" (closed)="uartPanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>Serial Modules</mat-panel-title>
            <mat-panel-description>
                <div class="header-box">
                    <div class="header-spacer"></div>
                    <div class="header-button">
                        <button (click)="addUartModule($event)">Add Serial Module</button>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul class="uart-list">
            <li *ngFor="let module of module.uartModules">
                <app-esp-submodule ></app-esp-submodule>
            </li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>GPIO configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="servo-list">
            <li *ngFor="let channel of module.gpioModule.channels">
                <div class="gpio-channel">
                    <div class="label">Channel {{channel.id}}</div>
                    <div class="input"><input matInput placeholder="Name" [(ngModel)]="channel.channelName" /></div>
                    <div class="enabled">
                        <mat-checkbox [(ngModel)]="channel.enabled">Enabled</mat-checkbox>
                    </div>
                    <div class="enabled">
                        <mat-checkbox [(ngModel)]="channel.defaultLow">Default Low?</mat-checkbox>
                    </div>
                </div>
            </li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Servo configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <!-->
        <ul class="servo-list">
            <li *ngFor="let channel of module.servoModule.channels">
                <div class="servo-channel">
                    <div class="servo-channel-row">
                        <div class="label">Channel {{channel.id}}</div>
                        <div class="input"><input matInput placeholder="Name" [(ngModel)]="channel.channelName" /></div>
                        <div class="type">
                            <mat-checkbox [(ngModel)]="channel.enabled">Enabled</mat-checkbox>
                        </div>
                        <div class="type">
                            <mat-checkbox [(ngModel)]="channel.inverted">Inverted</mat-checkbox>
                        </div>
                    </div>
                    <div class="servo-channel-row">
                        <div class="label-ms">Min μS</div>
                        <div class="limit">
                            <input matInput placeholder="0" [(ngModel)]="channel.minPos" />
                        </div>
                        <div class="label-ms">Max μS</div>
                        <div class="limit">
                            <input matInput placeholder="0" [(ngModel)]="channel.maxPos" />
                        </div>
                        <div class="label-ms">Home μS</div>
                        <div class="limit">
                            <input matInput placeholder="0" [(ngModel)]="channel.homePos" />
                        </div>
                        <div class="test-button">
                            <button (click)="testServoModal(channel.id)">Test</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    -->
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>I2C configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="i2c-list">
            <li *ngFor="let channel of module.i2cModule.channels">
                <div class="i2c-channel">
                    <div class="label">Channel {{channel.id}}</div>
                    <div class="input"><input matInput placeholder="Name" [(ngModel)]="channel.channelName"
                            [disabled]="channel.channelName.toLowerCase() === 'reserved'" /></div>
                    <div class="enabled">
                        <mat-checkbox [(ngModel)]="channel.enabled"
                            [disabled]="channel.channelName.toLowerCase() === 'reserved'">Enabled</mat-checkbox>
                    </div>
                </div>
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>