<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Serial Port configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="uart-module">
            <div class="type">
                <select title="Serial Type" (ngModelChange)="uartTypeChange($event)" [(ngModel)]=uartType>
                    <option value="0" selected>Disabled</option>
                    <option value="1">Generic Serial</option>
                    <option value="2">Kangaroo X2</option>
                </select>
            </div>
            <div class="input"><input matInput placeholder="Name" [(ngModel)]="module.uartModule.moduleName" /></div>
        </div>
        <ng-template #uartContainer></ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>PWM configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="pwm-list">
            <li *ngFor="let channel of module.pwmModule.channels">
                <div class="pwm-channel">
                    <div class="label">Channel {{channel.id}}</div>
                    <div class="input"><input matInput placeholder="Name" [(ngModel)]="channel.channelName" /></div>
                    <div class="type">
                        <select title="PWM Type" (ngModelChange)="pwmTypeChange(channel.id, $event)"
                            [(ngModel)]=channel.type>
                            <option *ngFor="let pwmType of pwmTypeOptions" [ngValue]="pwmType.id">{{pwmType.name}}
                            </option>
                        </select>
                    </div>
                    <div class="limit">
                        <input matInput placeholder="0" [(ngModel)]="channel.limit0" />
                    </div>
                    <div class="limit">
                        <input matInput placeholder="0" [(ngModel)]="channel.limit1" />
                    </div>
                </div>
            </li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>I2C configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="i2c-list">
            <li *ngFor="let channel of module.i2cModule.channels">
                <div class="i2c-channel">
                    <div class="label">Channel {{channel.id}}</div>
                    <div class="input"><input matInput placeholder="Name" [(ngModel)]="channel.channelName" /></div>
                </div>
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>